{% set nav = "admin" %}
{% extends "admin/base.html" %}
{% block body %}

{% if admin.role.key == 3 %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">增加管理员</h3>
  </div>
  <div class="panel-body">
    <form class="form-inline" role="form" method="post" action="/admin/admin/">
      <div class="form-group">
        <label for="J_admin_user">用户名：</label>
        <input name="username" type="text" class="form-control" id="J_admin_user" placeholder="输入用户名">
      </div>
      <div class="form-group">
        <label for="J_admin_pass">密码：</label>
        <input name="password" type="text" class="form-control" id="J_admin_pass" placeholder="输入密码">
      </div>
      <div class="form-group">
        <label class="sr-only" for="J_admin_pass2">确认密码</label>
        <input name="password2" type="text" class="form-control" id="J_admin_pass2" placeholder="再次输入密码">
      </div>
      <div class="form-group">
        <label or="J_admin_role">角色：</label>
        <select id="J_admin_role">
          {% for role in roles %}
          <option value="{{role.key}}">{{role.value}}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-default">增加</button>
    </form>
  </div>
</div>
{% endif %}

<!-- list -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">管理员列表</h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <thead>
          <tr>
            <th>用户名</th>
            <th>角色</th>
            <th>注册时间</th>
            <th>操作</th>
          </tr>
      </thead>
      <tbody>
          {% for item in users %}
          <tr data-id="{{item._id}}">
            <th>{{item.username}}</th>
            <th>{{item.role.value}}</th>
            <th>{{item.time|time}}</th>
            <th>
              {% if admin.role.key == 3 %}
              <a href="#" class="modify">修改</a>
              <a href="#" class="delete">删除</a>
              {% endif %}
            </th>
          </tr>
          {% endfor %}
      </tbody>
    </table>
    
    <ul class="pagination">
      <li class="disabled"><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
      ...
    </ul>
  </div>
</div>
 

{% endblock %}