{% set nav = "shop" %}
{% extends "admin/base.html" %}
{% block body %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">店铺列表<a style="color:#fff" href="/admin/shop/add" id="J_shop_add" class="btn btn-primary btn-xs pull-right">增加</a></h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <thead>
          <tr>
            <th>店铺名称</th>
            <th>套餐类型</th>
            <th>客户</th>
            <th>电话</th>
            <th>微信</th>
            <th>创建者</th>
            <th>操作</th>
          </tr>
      </thead>
      <tbody>
          {% for item in list %}
          <tr data-id="{{item._id}}">
            <th><a href="{{item.url}}" target="_blank">{{item.name}}</a></th>
            <th>{{item.type}}</th>
            <th>{{item.customer}}</th>
            <th>{{item.tel}}</th>
            <th>{{item.weixin}}</th>
            <th>{{item.creator}}</th>
            <th>
              <a href="/admin/shop/{{item._id}}" target="_blank">详情</a>
              <a href="/admin/shop/edit/{{item._id}}" target="_blank">编辑</a>
              {% if admin.role.key >= 2 %}
              <a data-id="{{item._id}}" href="#" target="_blank">删除</a>
              {% endif %}
            </th>
          </tr>
          {% endfor %}
      </tbody>
    </table>
    
    
    <ul class="pagination">
      <li class="disabled"><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
      ...
    </ul>
    
  </div>
 
    
</div>
{% endblock %}