{% set nav = "suite" %}
{% set title = "套餐管理" %}
{% extends "admin/base.html" %}

{% block head %}
<style>
#addOrEditModal .title-edit{display:none}
#addOrEditModal.mode-edit .title-add{display:none}
#addOrEditModal.mode-edit .title-edit{display:block}
</style>
{% endblock %}
{% block body %}


<!-- addOrEdit Modal -->
<div class="modal fade" id="addOrEditModal" tabindex="-1" role="dialog" aria-hidden="true">
  <form method="post" action="/admin/suite/action">
    <input type="hidden" class="id" name="id" value=""/>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title title-add">新增套餐</h4>
          <h4 class="modal-title title-edit">修改套餐</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="J_suite_name">名称：</label>
            <input id="J_suite_name" class="form-control" type="text" name="name" value="{{name}}"/>
          </div>
          <div class="form-group">
            <label for="J_suite_price">价格：</label>
            <input id="J_suite_price" class="form-control" type="text" name="price" value="{{price}}"/>
          </div>
          <div class="form-group">
            <label for="J_suite_note">备注：</label>
            <textarea name="note" class="form-control" rows="5" id="J_suite_note">{{note}}</textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary btn-submit">确定</button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- remove Modal -->
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-hidden="true">
  <form method="post" action="/admin/suite/delete">
    <input class="id" name="id" type="hidden"/>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">删除套餐</h4>
        </div>
        <div class="modal-body">
          <p>该操作将永久删除该条套餐，确认要继续执行？</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary btn-submit">确定</button>
        </div>
      </div>
    </div>
  </form>
</div>


{% if info and info != "" %}
<div class="alert alert-danger alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
  <h4>出错了</h4>
  <p>{{ info }}</p>
</div>
{% endif %}

<!-- suite list -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">套餐管理
      {% if admin.role.key >= 2 %}
      <button type="button" id="J_suite_add" class="btn btn-primary btn-xs pull-right">增加</button>
      {% endif %}
    </h3>
    
  </div>
  <div class="panel-body table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
          <tr>
            <th>套餐名称</th>
            <th>套餐价格</th>
            <th>套餐描述</th>
            {% if admin.role.key >= 2 %}
            <th>操作</th>
            {% endif %}
          </tr>
      </thead>
      <tbody>
          {% for item in items %}
          <tr data-id="{{item._id}}">
            <th class="name">{{item.name}}</th>
            <th class="price">{{item.price}}</th>
            <th class="note">{{item.note}}</th>
            {% if admin.role.key >= 2 %}
            <th>
              <a href="#" class="modify">修改</a>
              <a href="#" class="delete">删除</a>
            </th>
            {% endif %}
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
$(function(){
  var addOrEditModal = $("#addOrEditModal");
  var removeModal = $("#removeModal");
  var nameEl = $("#J_suite_name");
  var priceEl = $("#J_suite_price");
  var noteEl = $("#J_suite_note");
  
  $("#J_suite_add").click(function(e){
    addOrEditModal.removeClass('mode-edit');
    addOrEditModal.find(".id").val('');
    nameEl.val('');
    priceEl.val('');
    noteEl.val('');
    addOrEditModal.modal();
  });
  $(".table").delegate(".modify", "click", function(e){
    e.preventDefault();
    var $tr = $(e.currentTarget).parents('tr');
    addOrEditModal.find(".id").val($tr.attr('data-id'));
    addOrEditModal.addClass('mode-edit');
    nameEl.val($tr.find(".name").text());
    priceEl.val($tr.find(".price").text());
    noteEl.val($tr.find(".note").text());
    addOrEditModal.modal();
  });
  $(".table").delegate(".delete", "click", function(e){
    e.preventDefault();
    removeModal.find(".id").val($(e.currentTarget).parents('tr').attr('data-id'));
    removeModal.modal();
  });
});
</script>
{% endblock %}