<div class="form-group">
  <label for="J_banner_img1"  class="col-sm-2 control-label">焦点图1：</label>
  <div class="col-sm-10 clearfix">
    <input id="J_banner_img1" class="form-control fileinput-input pull-left" type="text" name="banner1" value="{{data.banners[0]|default('http://weishop.zmzp.cn/templates/literature/banner01.jpg')}}" placeholder="输入URL或上传"/>
    <span class="btn pull-right btn-success fileinput-button" data-input="#J_banner_img1">
      <i class="glyphicon glyphicon-plus"></i>
      <span>添加图片</span>
      <input type="file" name="files[]" multiple="">
    </span>
  </div>
</div>

<div class="form-group">
  <label for="J_banner_img2"  class="col-sm-2 control-label">焦点图2：</label>
  <div class="col-sm-10 clearfix">
    <input id="J_banner_img2" class="form-control fileinput-input pull-left" type="text" name="banner2" value="{{data.banners[1]}}" placeholder="输入URL或上传"/>
    <span class="btn pull-right btn-success fileinput-button" data-input="#J_banner_img2">
      <i class="glyphicon glyphicon-plus"></i>
      <span>添加图片</span>
      <input type="file" name="files[]" multiple="">
    </span>
  </div>
</div>

<div class="form-group">
  <label for="J_banner_img3"  class="col-sm-2 control-label">焦点图3：</label>
  <div class="col-sm-10 clearfix">
    <input id="J_banner_img3" class="form-control fileinput-input pull-left" type="text" name="banner3" value="{{data.banners[2]}}" placeholder="输入URL或上传"/>
    <span class="btn pull-right btn-success fileinput-button" data-input="#J_banner_img3">
      <i class="glyphicon glyphicon-plus"></i>
      <span>添加图片</span>
      <input type="file" name="files[]" multiple="">
    </span>
  </div>
</div>

<div class="form-group">
  <label for="J_ad_img1"  class="col-sm-2 control-label">推广图1：</label>
  <div class="col-sm-10">
    <input id="J_ad_img1" class="form-control" type="text" name="ad_img1" value="{{data.ad_img1|default('http://weishop.zmzp.cn/templates/literature/img01.jpg')}}" placeholder="输入推广图1"/>
  </div>
</div>

<div class="form-group">
  <label for="J_ad_link1"  class="col-sm-2 control-label">推广图1链接：</label>
  <div class="col-sm-10">
    <input id="J_ad_link1" class="form-control" type="text" name="ad_link1" value="{{data.ad_link1}}" placeholder="输入推广图1链接"/>
  </div>
</div>

<div class="form-group">
  <label for="J_ad_img2"  class="col-sm-2 control-label">推广图2：</label>
  <div class="col-sm-10">
    <input id="J_ad_img2" class="form-control" type="text" name="ad_img2" value="{{data.ad_img2|default('http://weishop.zmzp.cn/templates/literature/img02.jpg')}}" placeholder="输入推广图2"/>
  </div>
</div>

<div class="form-group">
  <label for="J_ad_link2"  class="col-sm-2 control-label">推广图2链接：</label>
  <div class="col-sm-10">
    <input id="J_ad_link2" class="form-control" type="text" name="ad_link2" value="{{data.ad_link2}}" placeholder="输入推广图2链接"/>
  </div>
</div>

<div class="form-group">
  <label for="J_ad_img3"  class="col-sm-2 control-label">推广图3：</label>
  <div class="col-sm-10">
    <input id="J_ad_img3" class="form-control" type="text" name="ad_img3" value="{{data.ad_img3|default('http://weishop.zmzp.cn/templates/literature/img03.jpg')}}" placeholder="输入推广图3"/>
  </div>
</div>

<div class="form-group">
  <label for="J_ad_link3"  class="col-sm-2 control-label">推广图3链接：</label>
  <div class="col-sm-10">
    <input id="J_ad_link3" class="form-control" type="text" name="ad_link3" value="{{data.ad_link3}}" placeholder="输入推广图3链接"/>
  </div>
</div>

<div class="form-group">
  <label for="J_style"  class="col-sm-2 control-label">自定义样式：</label>
  <div class="col-sm-10">
    <textarea id="J_style" class="form-control" rows="5" name="style" value="{{data.style}}" placeholder="输入自定义样式"></textarea>
  </div>
</div>