{% set title=shop.name %}
{% extends "base.html" %}
{% block head %}
<link rel='stylesheet' href='/combo??/lib/bootstrap/css/bootstrap.min.css,{{template_root}}/style.css'>
<style>{{data.style}}</style>
<script src="http://tajs.qq.com/stats?sId=36457971"></script>
{% endblock %}
{% block body %}
<header id="header">
  <div id="slider">
    <ul style="-webkit-transform:translate3d(0,0,0);">
      {% for banner in data.banners %}
      <li>
        <a href="{{shop.url}}">
          <img src="{{banner}}">
         </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!--<span class='bullets'>
     <em class='on'>&bull;</em>
     <em>&bull;</em>
     <em class="last">&bull;</em>
  </span>-->
</header>

<section id="nav">
  <ul class="fix-float">
    <li>
      <a href="{{data.ad_link1|default(shop.url)}}">
        <img src="{{data.ad_img1|default('/templates/literature/img01.jpg')}}">
      </a>
    </li>
    <li>
      <a href="{{data.ad_link2|default(shop.url)}}">
        <img src="{{data.ad_img2|default('/templates/literature/img02.jpg')}}">
      </a>
    </li>
    <li>
      <a href="{{data.ad_link3|default(shop.url)}}">
        <img src="{{data.ad_img3|default('/templates/literature/img03.jpg')}}">
      </a>
    </li>
  </ul>
</section>

<footer id="footer" class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="e-tab">
    <a class="e-tabitem" href="tel:{{shop.tel}}">
      <span class="glyphicon glyphicon-earphone"></span>拨打电话
    </a> 
    <a class="e-tabitem" href="{{shop.url}}">
      <span class="glyphicon glyphicon-heart"></span>进入微店
    </a>
  </div>
</footer>

<script src="/combo??lib/zepto/zepto.min.js,lib/swipe/swipe.js"></script>
<script>
$(function(){
  //var bullets = document.querySelectorAll('#header .bullets em');
  var slider = new Swipe(document.getElementById('slider'), {
    speed:500,
    auto:3000,
    callback: function(pos) {
      //$('.bullets .on').removeClass('on');
      //bullets.item(pos).classList.add('on');
    }
  });
});
document.addEventListener('WeixinJSBridgeReady', function(){
	WeixinJSBridge.call('hideToolbar');
});
</script>
{% endblock %}